# Pandas exercises

1. How to import pandas and check the version?

In [110]:
import pandas as pd
import numpy as np

2. How to create a series from a list, numpy array and dict?

In [111]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

mylist_ser = pd.Series(mylist)
myarr_ser = pd.Series(myarr)
mydict_ser = pd.Series(mydict)

print(myarr_ser.head(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

3. How to convert the index of a series into a column of a dataframe?

In [28]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

4. How to combine many series to form a dataframe?

In [112]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1,ser2],axis=1)
print(df.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

5. How to assign name to the series’ index?

In [48]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = "alphabets"

print(ser.head())

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?

In [54]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

items_notin_ser2 = ser1[~ser1.isin(ser2)]
print(items_notin_ser2)

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?

In [70]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_union = pd.Series(np.union1d(ser1,ser2))
ser_inters = pd.Series(np.intersect1d(ser1,ser2))


not_common_items = ser_union[~ser_union.isin(ser_inters)]

print(not_common_items)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [78]:
ser = pd.Series(np.random.normal(10, 5, 25))

print(ser.min())
print(ser.max())
print(ser.median())
print(ser.quantile(0.25))
print(ser.quantile(0.75))

1.6787064934754454
20.619971053576656
10.389894583028878
8.055273444104646
13.004050362526806

9. How to get frequency counts of unique items of a series?

In [81]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

freq = df.value_counts()
print(freq)

0  1
a  0     1
b  1     1
y  24    1
x  23    1
w  22    1
v  21    1
u  20    1
t  19    1
s  18    1
r  17    1
q  16    1
p  15    1
o  14    1
n  13    1
m  12    1
l  11    1
k  10    1
j  9     1
i  8     1
h  7     1
g  6     1
f  5     1
e  3     1
d  4     1
c  2     1
z  25    1
dtype: int64

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [82]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

ser.head()

0    3
1    3
2    1
3    3
4    1
dtype: int64

11. How to bin a numeric series to 10 groups of equal size?

In [88]:
ser = pd.Series(np.random.random(20))

pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    4th
1    7th
2    2nd
3    4th
4    1st
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12. How to convert a numpy array to a dataframe of given shape? (L1)

In [90]:
ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser)
df.head()

   0
0  5
1  2
2  4
3  5
4  6

13. How to find the positions of numbers that are multiples of 3 from a series?

In [125]:
ser = pd.Series(np.random.randint(1, 10, 7))
 
np.argwhere(ser %3==0)
print(ser)

ValueError: Length of values (1) does not match length of index (7)

14. How to extract items at given positions from a series

In [128]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?

In [136]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df = pd.concat([ser1, ser2], axis=1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B?

In [143]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series?

In [150]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.5341593012881508

18. How to convert the first character of each element in a series to uppercase?

In [151]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. How to calculate the number of characters in each word in a series?

In [155]:
# The map function applies a given function to each item of an iterable (list, tuple, etc.) and returns and iterator

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda ser: len(ser))

0    3
1    2
2    4
3    4
dtype: int64

20. How to compute difference of differences between consequtive numbers of a series?

In [157]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

21. How to convert a series of date-strings to a timeseries?

In [158]:
#Convert dates -> very important for data cleaning!!!!!!!!!!!

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

22. How to get the day of month, week number, day of year and day of week from a series of date strings?

In [164]:
# Uses an additional library

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))


# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.isocalendar().week.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.day_name().tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

23. How to convert year-month string to dates corresponding to the 4th day of the month?

In [171]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

24. How to filter words that contain atleast 2 vowels from a series?

In [183]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])


from collections import Counter
two_vowels = ser.map(lambda x: sum([Counter(x.lower()).get(i,0) for i in list('aeiou')]) >= 2)
ser[two_vowels]

0     Apple
1    Orange
4     Money
dtype: object

25. How to filter valid emails from a series?

In [185]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# re library for regular expressions!
import re
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

26. How to get the mean of a series grouped by another series?

In [191]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

weights.groupby(fruit).mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'carrot', 'carrot', 'apple', 'apple', 'banana', 'banana', 'carrot', 'apple', 'banana']

apple     4.750000
banana    7.666667
carrot    4.333333
dtype: float64

27. How to compute the euclidean distance between two series?

In [199]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

sum((p - q)**2)**.5

18.16590212458495

28. How to find all the local maxima (or peaks) in a numeric series?

In [200]:
## Need to understand this code!!!


ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7])

29. How to replace missing spaces in a string with the least frequent character?

In [206]:
## Why is c used instead of g?????????????


my_str = 'dbc deb abed gade'


ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)

least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

least_freq

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'g'

30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [207]:
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    1
2000-01-08    7
2000-01-15    1
2000-01-22    8
2000-01-29    6
2000-02-05    8
2000-02-12    9
2000-02-19    3
2000-02-26    7
2000-03-04    1
Freq: W-SAT, dtype: int64

31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [212]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

# Solution
ser.resample('D').ffill()  # fill with previous value (forward fill method)

# Alternatives
#ser.resample('D').bfill()  # fill with next value (backward fill method)
#ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

32. How to compute the autocorrelations of a numeric series?

In [213]:
# Need to undestand this better!!!

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.31, 0.48, 0.28, 0.04, 0.43, 0.03, 0.42, -0.07, 0.17, 0.07]
Lag having highest correlation:  2

33. How to import only every nth row from a csv file to create a dataframe?

In [215]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()
print(df2)

         crim    zn  indus  chas    nox     rm    age     dis   rad    tax  \
0     0.00632  18.0   2.31   0.0  0.538  6.575   65.2  4.0900   1.0  296.0
50    0.08873  21.0   5.64   0.0  0.439  5.963   45.7  6.8147   4.0  243.0
100   0.14866   0.0   8.56   0.0  0.520  6.727   79.9  2.7778   5.0  384.0
150   1.65660   0.0  19.58   0.0  0.871  6.122   97.3  1.6180   5.0  403.0
200   0.01778  95.0   1.47   0.0  0.403  7.135   13.9  7.6534   3.0  402.0
250   0.14030  22.0   5.86   0.0  0.431  6.487   13.0  7.3967   7.0  330.0
300   0.04417  70.0   2.24   0.0  0.400  6.871   47.4  7.8278   5.0  358.0
350   0.06211  40.0   1.25   0.0  0.429  6.490   44.4  8.7921   1.0  335.0
400  25.04610   0.0  18.10   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
450   6.71772   0.0  18.10   0.0  0.713  6.749   92.6  2.3236  24.0  666.0
500   0.22438   0.0   9.69   0.0  0.585  6.027   79.7  2.4982   6.0  391.0

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
50      16.8  395.56  13.45  19.7
100     20.9  394.76   9.42  27.5
150     14.7  372.80  14.10  21.5
200     17.0  384.30   4.45  32.9
250     19.1  396.28   5.90  24.4
300     14.8  390.86   6.07  24.8
350     19.7  396.90   5.98  22.9
400     20.2  396.90  26.77   5.6
450     20.2    0.32  17.44  13.4
500     19.2  396.90  14.33  16.8

34. How to change column values when importing csv to a dataframe?

In [216]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})
print(df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

35. How to create a dataframe with rows as strides from a given series?

In [217]:
L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]])

36. How to import only specified columns from a csv file?

In [220]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=["crim", "medv"]) 
df.head(5)

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [227]:
df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv")

df.info()

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()


df_stats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
(93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.000000,91.000000,88.000000,84.000000,91.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,17.118605,19.616484,21.459091,22.404762,29.065934,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,8.828290,9.724280,10.696563,5.841520,5.370293,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.825000,12.350000,14.575000,18.000000,26.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,14.600000,17.700000,19.150000,21.000000,28.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,20.250000,23.500000,24.825000,25.000000,31.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

38. How to extract the row and column number of a particular cell with given criterion?

In [237]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')



# Solution

# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']
#df.get_value(row[0], 'Price')

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

61.9

39. How to rename a specific columns in a dataframe?

In [239]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)

# Step 1:
df=df.rename(columns = {'Type':'CarType'})

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')
Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

40. How to check if a dataframe has any missing values?

In [242]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


df.isnull().values.any()

True

41. How to count the number of missing values in each column?

In [244]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax() # argmax() finds the argument that gives the maximum value from a target function.

23

42. How to replace missing values of multiple numeric columns with the mean?

In [245]:
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

43. How to use apply function on existing columns with global variables as additional arguments?

In [250]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

print(d)

{'Min.Price': <function nanmean at 0x7f86d13e77a0>, 'Max.Price': <function nanmedian at 0x7f86d13e7b90>}

44. How to select a specific column from a dataframe as a dataframe instead of a series?
Get the first column (a) in df as a dataframe (rather than as a Series).

In [251]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

pandas.core.frame.DataFrame

45. How to change the order of columns of a dataframe?

Actually 3 questions.

+ In df, interchange columns 'a' and 'c'.
+ Create a generic function to interchange two columns, without hardcoding column names.
+ Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [253]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))


# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

46. How to set the number of rows and columns displayed in the output? Change the pandas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.

In [261]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

df

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

47. How to format or suppress scientific notations in a pandas dataframe?. Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

In [263]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])


# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

   random
0  0.0000
1  0.0000
2  0.0005
3  0.0003

48. How to format all the values in a dataframe as percentages?. Format the values in column 'random' of df as percentages.

In [264]:
df = pd.DataFrame(np.random.random(4), columns=['random'])


out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

49. How to filter every nth row in a dataframe?. From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

In [265]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

50. How to create a primary key index by combining relevant columns?. In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

In [266]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])


df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True