## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here 

sample_list_1 = random.sample(range(0,100), k=80)
print(sample_list_1)

[5, 17, 7, 0, 40, 9, 8, 35, 93, 28, 92, 54, 84, 49, 95, 67, 85, 38, 59, 61, 73, 53, 24, 69, 88, 13, 42, 36, 62, 76, 98, 52, 72, 83, 60, 39, 68, 23, 90, 99, 44, 71, 20, 4, 82, 58, 33, 21, 97, 32, 89, 87, 65, 78, 2, 57, 70, 45, 46, 1, 51, 56, 25, 19, 15, 11, 18, 63, 80, 66, 50, 34, 74, 16, 26, 79, 91, 96, 47, 81]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

#Yes, the lenght is it still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [28]:
# Your code here

import random

sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)

[50, 75, 45, 39, 29, 54, 45, 56, 43, 19, 5, 16, 92, 9, 58, 6, 81, 85, 8, 4, 23, 10, 36, 59, 59, 99, 2, 39, 70, 93, 8, 65, 97, 1, 20, 79, 61, 72, 10, 38, 15, 2, 71, 39, 62, 14, 57, 55, 33, 17, 54, 12, 4, 27, 20, 22, 34, 38, 60, 53, 51, 79, 21, 89, 67, 51, 56, 54, 98, 31, 89, 39, 53, 18, 80, 17, 74, 17, 56, 49]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

# Answer: no, the lenght is reduced to 59.

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [41]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 7, 11, 13, 24, 25, 26, 28, 32, 35, 40, 42, 44, 46, 47, 52, 63, 66, 68, 69, 73, 76, 78, 82, 83, 84, 87, 88, 90, 91, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [44]:
# Your code here

set4 = set2 - set1
print(set4)

{6, 10, 43, 12, 75, 14, 22, 55, 27, 29, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [48]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{1, 2, 4, 5, 8, 9, 15, 16, 17, 18, 19, 20, 21, 23, 33, 34, 36, 38, 39, 45, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 65, 67, 70, 71, 72, 74, 79, 80, 81, 85, 89, 92, 93, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [71]:
# Your code here

print(len(set1) >= len(set2))
print(len(set1) >= len(set3))
print(len(set1) >= len(set4))
print(len(set1) >= len(set5))

True
True
True
True

#### Create an empty set called `set6`.

In [74]:
# Your code here

set6 = {()}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [99]:
# Your code here

set6.update(set3,set5)

print(set6)

{0, 1, 2, 4, 5, 7, 8, 9, 11, 13, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 28, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, ()}

#### Check if `set1` and `set6` are equal.

In [100]:
# Your code here

set1==set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [103]:
# Your code here

print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [108]:
# Your code here

set3.union(set4,set5) == set1.union(set2)

True

#### Using the `pop` method, remove an element from `set1`.

In [111]:
# Your code here

set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [119]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1.difference(list_to_remove))

{2, 4, 5, 7, 8, 13, 15, 16, 17, 18, 20, 23, 24, 25, 26, 28, 32, 33, 34, 35, 36, 38, 40, 42, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 76, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 95, 96, 97, 98}